form {
  margin: 0 auto;
  max-width: 600px;
  border: 1px solid $orange;
  border-radius: 1em;
  padding: 1em 1em 2em 1em;
  div {
    margin-top: 1em;
  }

}

label {
  display: inline-block;
  width: 30%;
  text-align: right;
}

textarea,
input {
  font: 1em Helvetica;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 0.5em;
  padding: 0.5em;
}

textarea:focus,
input:focus {
  border-color: $orange;
  outline: none; // removes blue haze
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

button {
  margin-left: .5em;
  padding: 1em;
  border-radius: 1em;
  font: 1em Helvetica;
  background-color: $orange;
  color: white;
  border-style: none;
  //  border-bottom-style: none;
  //  border-bottom-color: $orange;
  //  border-right-style: none; // specifies a 3D outset border; color = border-color value
  //  border-right-color: $orange;
}

.button {
  padding-left: 30%;
}