/*
* 
* TO DO
* 1. Grid
* 2. Fix logo, rename logo
*/



/*
* 
* HEADER
*
*/

header {
  //  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  background: white;
}

.header {
  height: 80px;
  max-width: 900px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  border-bottom: 2px solid tomato;
}

.logo {
  line-height: 60px;
  height: 60px;
//  padding-top: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  margin-top: 10px;
//  background-image: url("../../img/logo%20150901-03.png");
//  background-size: contain;
//  background-position: center;
  width: 200px;
//  background-repeat: no-repeat;
}

.logo img {
  display: inline-block;
  line-height: 60px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  height: 60px;
}

.nav-burger {
  position: absolute;
  top: 0;
  right: 20px;
  color: tomato;
  height: 80px;
  width: 60px;
  text-align: center;
  line-height: 80px;
}

.nav-list {
  //  width: 100%;
  display: none;
  margin-top: 10px;
}

.nav-list ul li a {
  display: block;
  text-decoration: none;
  color: white;
}

.visible {
  display: block;
}

header ul {
  list-style-type: none;
  margin: 0; // there is a default margin top and bottom
  padding: 0; // there is a default padding-left
  width: 100%;
}

header li {
  background: tomato;
  padding: 20px;
  //  width: 100%;
  text-align: center;
}


/*
* 
* SECTION
*
*/


section {
  margin-top: 60px;
  padding: 20px 2%;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.gallery {
  text-align: center;
}

.spacer {
  height: 20px;
}

/*
* 
* FOOTER
*
*/


footer {
  width: 100%;
  background: tomato;
  margin-top: 100px;
}

.footer {
  max-width: 900px;
  margin: 0 auto;
  height: 100px;
  line-height: 100px;
  text-align: center;
}


/*
* 
* MEDIA QUERIES
*
*/


@media screen and (min-width: 500px) {
  html {
    //    background: blue;
  }
  .nav-burger {
    display: none;
  }
  .nav-list {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .nav-ul {
    display: inline-block;
    background: tomato;
    margin: 0 auto;
    margin-top: 10px;
  }
  .nav-list li {
    display: inline-block;
  }
  .logo {
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
//    background-image: url("../../img/logo%20150901-03.png");
//    background-size: contain;
//    background-position: center;
//    background-repeat: no-repeat;
    width: 300px;
    margin-top:20px;
    img {
      height: 85px;
    }
  }
  
  
  header {
    height: 150px;
  }
  .header {
    text-align: center;
    height: 120px;
  }
}


